name: Tags Pipeline

on:
  push:
    tags:
      - "v*"

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Configuraci贸n .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "5.0.x"

      - name: Compilar aplicaci贸n
        run: |
          dotnet build

      - name: Probar aplicaci贸n
        run: |
          dotnet test

      - name: Empaquetar aplicaci贸n
        run: |
          dotnet pack -c Release

      - name: Publicar a NuGet
        run: |
          dotnet nuget push -k ${{ secrets.NUGET_KEY }} -s https://www.nuget.org StaticSiteGenerator/nupkg
